.Weather {
  font-family: "HelveticaNeue-Thin";
  color: aliceblue;
  font-weight: lighter;
  margin: 0 auto;
  margin-top: 10%;
  padding: 10px 50px;
  height: 570px;
  width: 650px;
  border-radius: 35px;
  background-color: #9ab3f5;
  box-shadow: 2px 3px 14px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.Weather .container {
  font-size: 20px;
  text-transform: capitalize;
  margin-top: 5px;
}
.Weather.weather-temp .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.Weather.weather-temp .active:hover {
  text-decoration: none;
}
.weather-temp {
  margin-top: 0;
  position: relative;
  left: 229px;
  bottom: 65px;
}
span.Icon {
  size: 30px;
  position: relative;
  right: 82px;
  top: 70px;
}
